<div class="dashboard-container">
  <h2>Dashboard</h2>
  <p *ngIf="userInfo; else loadingOrError">
    Welcome, {{ userInfo.firstName || email }}!<br>
    <span *ngIf="userInfo.lastName">Last Name: {{ userInfo.lastName }}</span><br>
    <span *ngIf="userInfo.email">Email: {{ userInfo.email }}</span><br>
    <!-- Add more fields as needed -->
  </p>
  <ng-template #loadingOrError>
    <div *ngIf="error; else loading">{{ error }}</div>
    <ng-template #loading><span>Loading user info...</span></ng-template>
  </ng-template>
</div>
